<h1>Book Details</h1>
<table>
    <tr>
        <th>Author Id: -</th>
        <td><%= @book.author_id %></td>
    </tr>
    <tr>
       <th>Publish At: -</th>
       <td><%= @book.publish_at%></td>
    </tr>
</table>
